<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hp.mapper.DicttypeMapper">

    <resultMap type="cn.hp.entity.Dicttype" id="DicttypeResult">
        <result property="id" column="id"/>
        <result property="typeNo" column="typeNo"/>
        <result property="name" column="name"/>
        <result property="remark" column="remark"/>
        <result property="flog" column="flog"/>

    </resultMap>

    <sql id="selectDicttypeVo">
        select * from dicttype
    </sql>

    <select id="selectDicttypeList" parameterType="cn.hp.entity.Dicttype" resultMap="DicttypeResult">
        <include refid="selectDicttypeVo"/>
        <!-- 根据搜索字段根据模板进行填添加 -->
        <where>
            flog=1
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>

    <select id="selectDicttypeById" parameterType="Integer" resultMap="DicttypeResult">
        <include refid="selectDicttypeVo"/>
        where flog=1 and id = #{id}
    </select>

    <insert id="insertDicttype" parameterType="cn.hp.entity.Dicttype" useGeneratedKeys="true" keyProperty="id">
        <!-- 根据表字段进行自己添加 -->
        insert into dicttype
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="typeNo != null and typeNo != ''">typeNo,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="flog != null">flog,</if>

         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="typeNo != null and typeNo != ''">#{typeNo},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="flog != null">#{flog},</if>

        </trim>

    </insert>

    <update id="updateDicttype" parameterType="cn.hp.entity.Dicttype">
       <!-- 根据表字段进行自己添加 -->

       update dicttype
         <trim prefix="SET" suffixOverrides=",">
            <if test="id != null ">id=#{id},</if>
            <if test="typeNo != null and typeNo != ''">typeNo=#{typeNo},</if>
            <if test="name != null and name != ''">name=#{name},</if>
            <if test="remark != null and remark != ''">remark=#{remark},</if>
            <if test="flog != null ">flog=#{flog},</if>

        </trim>
       where id = #{id}
    </update>

    <delete id="deleteDicttypeById" parameterType="Integer">
        delete from dicttype where id = #{id}
    </delete>

</mapper>
