<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hp.mapper.LoginInforMapper">

    <resultMap type="cn.hp.entity.LoginInfor" id="LoginInforResult">
        <result property="id" column="id"/>
        <result property="loginIp" column="login_ip"/>
        <result property="loginBroswer" column="login_broswer"/>
        <result property="loginAddress" column="login_address"/>
        <result property="userId" column="user_id"/>
        <result property="description" column="description"/>
        <result property="createDatetime" column="create_datetime"/>
        <result property="username" column="username"/>

    </resultMap>

    <sql id="selectLoginInforVo">
        select * from login_infor
    </sql>

    <select id="selectLoginInforList" parameterType="cn.hp.entity.LoginInfor" resultMap="LoginInforResult">
        select l.*,u.username from login_infor l left join user u on l.user_id=u.id
        <where>
            <if test="userId != null  and userId != ''"> and l.user_id = #{userId}</if>
            <if test="loginIp != null  and loginIp != ''"> and l.login_ip = #{loginIp}</if>
            <if test="loginBroswer != null  and loginBroswer != ''"> and l.login_broswer = #{loginBroswer}</if>
            <if test="username != null  and username != ''"> and u.username like concat('%', #{username}, '%')</if>
        </where>
    </select>

    <select id="selectLoginInforById" parameterType="Integer" resultMap="LoginInforResult">
        <include refid="selectLoginInforVo"/>
        where id = #{id}
    </select>

    <insert id="insertLoginInfor" parameterType="cn.hp.entity.LoginInfor" useGeneratedKeys="true" keyProperty="id">
        <!-- 根据表字段进行自己添加 -->

        insert into login_infor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="loginIp != null and loginIp != ''">login_ip,</if>
            <if test="loginBroswer != null and loginBroswer != ''">login_broswer,</if>
            <if test="loginAddress != null and loginAddress != ''">login_address,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="createDatetime != null">create_datetime,</if>

         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="loginIp != null and loginIp != ''">#{loginIp},</if>
            <if test="loginBroswer != null and loginBroswer != ''">#{loginBroswer},</if>
            <if test="loginAddress != null and loginAddress != ''">#{loginAddress},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="createDatetime != null">#{createDatetime},</if>

        </trim>

    </insert>

    <update id="updateLoginInfor" parameterType="cn.hp.entity.LoginInfor">
       <!-- 根据表字段进行自己添加 -->

       update login_infor
         <trim prefix="SET" suffixOverrides=",">
            <if test="id != null ">id=#{id},</if>
            <if test="loginIp != null and loginIp != ''">login_ip=#{loginIp},</if>
            <if test="loginBroswer != null and loginBroswer != ''">login_broswer=#{loginBroswer},</if>
            <if test="loginAddress != null and loginAddress != ''">login_address=#{loginAddress},</if>
            <if test="userId != null and userId != ''">user_id=#{userId},</if>
            <if test="description != null and description != ''">description=#{description},</if>
            <if test="createDatetime != null ">create_datetime=#{createDatetime},</if>

        </trim>
       where id = #{id}
    </update>

    <delete id="deleteLoginInforById" parameterType="Integer">
        delete from login_infor where id = #{id}
    </delete>

</mapper>
