<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hp.mapper.PatientMapper">

    <resultMap type="cn.hp.entity.Patient" id="PatientResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="address" column="address"/>
        <result property="birthday" column="birthday"/>
        <result property="telphone" column="telphone"/>
        <result property="cardId" column="card_id"/>
        <result property="idCard" column="id_card"/>
        <result property="nationality" column="nationality"/>
        <result property="career" column="career"/>
        <result property="familyHistory" column="family_history"/>
        <result property="maritalStatus" column="marital_status"/>
        <result property="pastHistory" column="past_history"/>
        <result property="personalHistory" column="personal_history"/>
        <result property="createDatetime" column="create_datetime"/>

    </resultMap>

    <sql id="selectPatientVo">
        select * from patient
    </sql>

    <select id="selectPatientList" parameterType="cn.hp.entity.Patient" resultMap="PatientResult">
        <include refid="selectPatientVo"/>
        <where>
            <if test="idCard != null  and idCard != ''"> and id_card like concat('%', #{idCard}, '%')</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>

    <select id="selectPatientById" parameterType="Integer" resultMap="PatientResult">
        <include refid="selectPatientVo"/>
        where id = #{id}
    </select>
    <select id="selectPatientByCardId" parameterType="String" resultMap="PatientResult">
        <include refid="selectPatientVo"/>
        where card_id = #{cardId}
    </select>
    <select id="selectPatientByIdCard" parameterType="String" resultMap="PatientResult">
        <include refid="selectPatientVo"/>
        where id_card = #{idCard}
    </select>

    <insert id="insertPatient" parameterType="cn.hp.entity.Patient" useGeneratedKeys="true" keyProperty="id">
        insert into patient
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="sex != null and sex != ''">sex,</if>
            <if test="age != null">age,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="birthday != null and birthday != ''">birthday,</if>
            <if test="telphone != null and telphone != ''">telphone,</if>
            <if test="cardId != null and cardId != ''">card_id,</if>
            <if test="idCard != null and idCard != ''">id_card,</if>
            <if test="nationality != null and nationality != ''">nationality,</if>
            <if test="career != null and career != ''">career,</if>
            <if test="familyHistory != null and familyHistory != ''">family_history,</if>
            <if test="maritalStatus != null and maritalStatus != ''">marital_status,</if>
            <if test="pastHistory != null and pastHistory != ''">past_history,</if>
            <if test="personalHistory != null and personalHistory != ''">personal_history,</if>
            <if test="createDatetime != null and createDatetime != ''">create_datetime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="sex != null and sex != ''">#{sex},</if>
            <if test="age != null">#{age},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="birthday != null and birthday != ''">#{birthday},</if>
            <if test="telphone != null and telphone != ''">#{telphone},</if>
            <if test="cardId != null and cardId != ''">#{cardId},</if>
            <if test="idCard != null and idCard != ''">#{idCard},</if>
            <if test="nationality != null and nationality != ''">#{nationality},</if>
            <if test="career != null and career != ''">#{career},</if>
            <if test="familyHistory != null and familyHistory != ''">#{familyHistory},</if>
            <if test="maritalStatus != null and maritalStatus != ''">#{maritalStatus},</if>
            <if test="pastHistory != null and pastHistory != ''">#{pastHistory},</if>
            <if test="personalHistory != null and personalHistory != ''">#{personalHistory},</if>
            <if test="createDatetime != null and createDatetime != ''">#{createDatetime},</if>
        </trim>
    </insert>

    <update id="updatePatient" parameterType="cn.hp.entity.Patient">
        update patient
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null ">id=#{id},</if>
            <if test="name != null and name != ''">name=#{name},</if>
            <if test="sex != null and sex != ''">sex=#{sex},</if>
            <if test="age != null ">age=#{age},</if>
            <if test="address != null and address != ''">address=#{address},</if>
            <if test="birthday != null and birthday != ''">birthday=#{birthday},</if>
            <if test="telphone != null and telphone != ''">telphone=#{telphone},</if>
            <if test="cardId != null and cardId != ''">card_id=#{cardId},</if>
            <if test="idCard != null and idCard != ''">id_card=#{idCard},</if>
            <if test="nationality != null and nationality != ''">nationality=#{nationality},</if>
            <if test="career != null and career != ''">career=#{career},</if>
            <if test="familyHistory != null and familyHistory != ''">family_history=#{familyHistory},</if>
            <if test="maritalStatus != null and maritalStatus != ''">marital_status=#{maritalStatus},</if>
            <if test="pastHistory != null and pastHistory != ''">past_history=#{pastHistory},</if>
            <if test="personalHistory != null and personalHistory != ''">personal_history=#{personalHistory},</if>
            <if test="createDatetime != null and createDatetime != ''">create_datetime=#{createDatetime},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateByCardIdPatient" parameterType="cn.hp.entity.Patient">
        <!-- 根据表字段进行自己添加 -->
        update patient
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name=#{name},</if>
            <if test="sex != null and sex != ''">sex=#{sex},</if>
            <if test="age != null ">age=#{age},</if>
            <if test="address != null and address != ''">address=#{address},</if>
            <if test="birthday != null and birthday != ''">birthday=#{birthday},</if>
            <if test="telphone != null and telphone != ''">telphone=#{telphone},</if>
            <if test="idCard != null and idCard != ''">id_card=#{idCard},</if>
            <if test="nationality != null and nationality != ''">nationality=#{nationality},</if>
            <if test="career != null and career != ''">career=#{career},</if>
            <if test="familyHistory != null and familyHistory != ''">family_history=#{familyHistory},</if>
            <if test="maritalStatus != null and maritalStatus != ''">marital_status=#{maritalStatus},</if>
            <if test="pastHistory != null and pastHistory != ''">past_history=#{pastHistory},</if>
            <if test="personalHistory != null and personalHistory != ''">personal_history=#{personalHistory},</if>
            <if test="createDatetime != null and createDatetime != ''">create_datetime=#{createDatetime},</if>
        </trim>
        where card_id=#{cardId}
    </update>

    <delete id="deletePatientById" parameterType="Integer">
        delete
        from patient
        where id = #{id}
    </delete>

</mapper>
