<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hp.mapper.RegisterMapper">

    <resultMap type="cn.hp.entity.Register" id="RegisterResult">
        <result property="id" column="id"/>
        <result property="registeredNum" column="registeredNum"/>
        <result property="departmentId" column="department_id"/>
        <result property="doctorId" column="doctor_id"/>
        <result property="doctor" column="doctor"/>
        <result property="payType" column="pay_type"/>
        <result property="registerType" column="register_type"/>
        <result property="price" column="price"/>
        <result property="registerPriice" column="register_priice"/>
        <result property="payPrice" column="pay_price"/>
        <result property="changePrice" column="change_price"/>
        <result property="patientId" column="patient_id"/>
        <result property="createId" column="create_id"/>
        <result property="registerStatus" column="register_status"/>
        <result property="treatmentStatus" column="treatment_status"/>
        <result property="createName" column="create_name"/>
        <result property="chargeStatus" column="charge_status"/>
        <result property="createDatetime" column="create_datetime"/>
        <result property="cardId" column="card_id"/>
        <result property="name" column="name"/>
        <result property="departmentName" column="departmentName"/>
        <result property="status" column="status"/>
        <result property="queueId" column="queueId"/>

    </resultMap>

    <sql id="selectRegisterVo">
        select * from register
    </sql>

    <select id="selectRegisterList" parameterType="cn.hp.entity.Register" resultMap="RegisterResult">
        <include refid="selectRegisterVo"/>
        <where>
            <if test="patientId != null"> and patient_id = #{patientId}</if>
            <if test="departmentId != null"> and department_id = #{departmentId}</if>
            <if test="treatmentStatus != null"> and treatment_status = #{treatmentStatus}</if>
            <if test="registerStatus != null"> and register_status = #{registerStatus}</if>
            <if test="chargeStatus != null"> and charge_status = #{chargeStatus}</if>
            <if test="startTime != null and startTime != '' and endTime != null"> and create_datetime between #{startTime} and #{endTime}</if>
        </where>
        order by create_datetime desc
    </select>

    <!--分页查询的方法，因为用到的关联查询-->
    <select id="selectPageRegisterList"  parameterType="cn.hp.entity.Register" resultMap="RegisterResult">
        select p.card_id,p.`name`,d.`name` departmentName,oq.id queueId,oq.`status`,r.* from register r
        left join patient p on r.patient_id=p.id
        left join department d on r.department_id =d.id
        left join outpatient_queue oq on r.id=oq.register_id
        <where>
            <if test="patientId != null"> and r.patient_id = #{patientId}</if>
            <if test="departmentId != null"> and r.department_id = #{departmentId}</if>
            <if test="registerStatus != null"> and r.register_status = #{registerStatus}</if>
            <if test="treatmentStatus != null"> and r.treatment_status = #{treatmentStatus}</if>
            <if test="chargeStatus != null"> and r.charge_status = #{chargeStatus}</if>
            <if test="registerType != null and registerType != ''"> and r.register_type = #{registerType}</if>
            <if test="startTime != null and startTime != '' and endTime != null"> and r.create_datetime between #{startTime} and #{endTime}</if>
        </where>
        ORDER BY r.treatment_status,r.register_status desc
    </select>

    <select id="selectRegisterById" parameterType="Integer" resultMap="RegisterResult">
        select d.`name` departmentName,r.* from register r
            left join department d on r.department_id =d.id
        where r.id = #{id}
    </select>

    <insert id="insertRegister" parameterType="cn.hp.entity.Register" useGeneratedKeys="true" keyProperty="id">
        insert into register
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="registeredNum != null and registeredNum != ''">registeredNum,</if>
            <if test="departmentId != null">department_id,</if>
            <if test="doctorId != null">doctor_id,</if>
            <if test="doctor != null and doctor != ''">doctor,</if>
            <if test="payType != null and payType != ''">pay_type,</if>
            <if test="registerType != null and registerType != ''">register_type,</if>
            <if test="price != null and price != ''">price,</if>
            <if test="registerPriice != null and registerPriice != ''">register_priice,</if>
            <if test="payPrice != null and payPrice != ''">pay_price,</if>
            <if test="changePrice != null and changePrice != ''">change_price,</if>
            <if test="patientId != null">patient_id,</if>
            <if test="createId != null">create_id,</if>
            <if test="registerStatus != null">register_status,</if>
            <if test="treatmentStatus != null">treatment_status,</if>
            <if test="createName != null and createName != ''">create_name,</if>
            <if test="chargeStatus != null">charge_status,</if>
            <if test="createDatetime != null and createDatetime != ''">create_datetime,</if>

         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="registeredNum != null and registeredNum != ''">#{registeredNum},</if>
            <if test="departmentId != null">#{departmentId},</if>
            <if test="doctorId != null">#{doctorId},</if>
            <if test="doctor != null and doctor != ''">#{doctor},</if>
            <if test="payType != null and payType != ''">#{payType},</if>
            <if test="registerType != null and registerType != ''">#{registerType},</if>
            <if test="price != null and price != ''">#{price},</if>
            <if test="registerPriice != null and registerPriice != ''">#{registerPriice},</if>
            <if test="payPrice != null and payPrice != ''">#{payPrice},</if>
            <if test="changePrice != null and changePrice != ''">#{changePrice},</if>
            <if test="patientId != null">#{patientId},</if>
            <if test="createId != null">#{createId},</if>
            <if test="registerStatus != null">#{registerStatus},</if>
            <if test="treatmentStatus != null">#{treatmentStatus},</if>
            <if test="createName != null and createName != ''">#{createName},</if>
            <if test="chargeStatus != null">#{chargeStatus},</if>
            <if test="createDatetime != null and createDatetime != ''">#{createDatetime},</if>

        </trim>

    </insert>

    <update id="updateRegister" parameterType="cn.hp.entity.Register">
       <!-- 根据表字段进行自己添加 -->

       update register
         <trim prefix="SET" suffixOverrides=",">
            <if test="id != null ">id=#{id},</if>
            <if test="registeredNum != null and registeredNum != ''">registeredNum=#{registeredNum},</if>
            <if test="departmentId != null ">department_id=#{departmentId},</if>
            <if test="doctorId != null ">doctor_id=#{doctorId},</if>
            <if test="doctor != null and doctor != ''">doctor=#{doctor},</if>
            <if test="payType != null and payType != ''">pay_type=#{payType},</if>
            <if test="registerType != null and registerType != ''">register_type=#{registerType},</if>
            <if test="price != null and price != ''">price=#{price},</if>
             <if test="registerPriice != null and registerPriice != ''">register_priice=#{registerPriice},</if>
             <if test="payPrice != null and payPrice != ''">pay_price=#{payPrice},</if>
             <if test="changePrice != null and changePrice != ''">change_price=#{changePrice},</if>
            <if test="patientId != null ">patient_id=#{patientId},</if>
            <if test="createId != null ">create_id=#{createId},</if>
            <if test="registerStatus != null ">register_status=#{registerStatus},</if>
            <if test="treatmentStatus != null ">treatment_status=#{treatmentStatus},</if>
            <if test="createName != null and createName != ''">create_name=#{createName},</if>
            <if test="chargeStatus != null ">charge_status=#{chargeStatus},</if>
            <if test="createDatetime != null and createDatetime != ''">create_datetime=#{createDatetime},</if>

        </trim>
       where id = #{id}
    </update>

    <delete id="deleteRegisterById" parameterType="Integer">
        delete from register where id = #{id}
    </delete>

</mapper>
