<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hp.mapper.TollTakedrugMapper">

    <resultMap type="cn.hp.entity.TollTakedrug" id="TollTakedrugResult">
        <result property="id" column="id"/>
        <result property="createDatetime" column="create_datetime"/>
        <result property="prescriptionNum" column="prescription_num"/>
        <result property="takingDrugDateTime" column="taking_drug_date_time"/>
        <result property="takingDrugOperator" column="taking_drug_operator"/>
        <result property="takingDrugStatus" column="taking_drug_status"/>
        <result property="tollDateTime" column="toll_date_time"/>
        <result property="tollOperator" column="toll_operator"/>
        <result property="patientId" column="patient_id"/>
        <result property="money" column="money"/>

    </resultMap>

    <sql id="selectTollTakedrugVo">
        select * from toll_takedrug
    </sql>

    <select id="selectTollTakedrugList" parameterType="cn.hp.entity.TollTakedrug" resultMap="TollTakedrugResult">
        <include refid="selectTollTakedrugVo"/>
        <!-- 根据搜索字段根据模板进行填添加 -->
        <!--
        <where>
            <if test="userNo != null  and userNo != ''"> and userNo = #{userNo}</if>
            <if test="doctorname != null  and doctorname != ''"> and doctorname like concat('%', #{doctorname}, '%')</if>
        </where>
        -->
    </select>

    <select id="selectTollTakedrugById" parameterType="Integer" resultMap="TollTakedrugResult">
        <include refid="selectTollTakedrugVo"/>
        where id = #{id}
    </select>
    <select id="findByPatientIdAndTakingDrugStatus" parameterType="cn.hp.entity.TollTakedrug" resultMap="TollTakedrugResult">
        <include refid="selectTollTakedrugVo"/>
        where patient_id = #{patientId} and taking_drug_status=#{takingDrugStatus}
    </select>
    <select id="findByPrescriptionNumAndTakingDrugStatus" parameterType="cn.hp.entity.TollTakedrug" resultMap="TollTakedrugResult">
        <include refid="selectTollTakedrugVo"/>
        where prescription_num = #{prescriptionNum} and taking_drug_status=#{takingDrugStatus}
    </select>
    <select id="findByPrescriptionNum" parameterType="String" resultMap="TollTakedrugResult">
        <include refid="selectTollTakedrugVo"/>
        where prescription_num = #{prescriptionNum}
    </select>

    <insert id="insertTollTakedrug" parameterType="cn.hp.entity.TollTakedrug" useGeneratedKeys="true" keyProperty="id">
        <!-- 根据表字段进行自己添加 -->

        insert into toll_takedrug
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="createDatetime != null and createDatetime != ''">create_datetime,</if>
            <if test="prescriptionNum != null and prescriptionNum != ''">prescription_num,</if>
            <if test="takingDrugDateTime != null and takingDrugDateTime != ''">taking_drug_date_time,</if>
            <if test="takingDrugOperator != null and takingDrugOperator != ''">taking_drug_operator,</if>
            <if test="takingDrugStatus != null">taking_drug_status,</if>
            <if test="tollDateTime != null and tollDateTime != ''">toll_date_time,</if>
            <if test="tollOperator != null and tollOperator != ''">toll_operator,</if>
            <if test="patientId != null and patientId != ''">patient_id,</if>
            <if test="money != null">money,</if>

         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createDatetime != null and createDatetime != ''">#{createDatetime},</if>
            <if test="prescriptionNum != null and prescriptionNum != ''">#{prescriptionNum},</if>
            <if test="takingDrugDateTime != null and takingDrugDateTime != ''">#{takingDrugDateTime},</if>
            <if test="takingDrugOperator != null and takingDrugOperator != ''">#{takingDrugOperator},</if>
            <if test="takingDrugStatus != null">#{takingDrugStatus},</if>
            <if test="tollDateTime != null and tollDateTime != ''">#{tollDateTime},</if>
            <if test="tollOperator != null and tollOperator != ''">#{tollOperator},</if>
            <if test="patientId != null and patientId != ''">#{patientId},</if>
            <if test="money != null">#{money},</if>

        </trim>

    </insert>

    <update id="updateTollTakedrug" parameterType="cn.hp.entity.TollTakedrug">
       <!-- 根据表字段进行自己添加 -->

       update toll_takedrug
         <trim prefix="SET" suffixOverrides=",">
            <if test="id != null ">id=#{id},</if>
            <if test="createDatetime != null and createDatetime != ''">create_datetime=#{createDatetime},</if>
            <if test="prescriptionNum != null and prescriptionNum != ''">prescription_num=#{prescriptionNum},</if>
            <if test="takingDrugDateTime != null and takingDrugDateTime != ''">taking_drug_date_time=#{takingDrugDateTime},</if>
            <if test="takingDrugOperator != null and takingDrugOperator != ''">taking_drug_operator=#{takingDrugOperator},</if>
            <if test="takingDrugStatus != null ">taking_drug_status=#{takingDrugStatus},</if>
            <if test="tollDateTime != null and tollDateTime != ''">toll_date_time=#{tollDateTime},</if>
            <if test="tollOperator != null and tollOperator != ''">toll_operator=#{tollOperator},</if>
            <if test="patientId != null and patientId != ''">patient_id=#{patientId},</if>
            <if test="money != null ">money=#{money},</if>

        </trim>
       where id = #{id}
    </update>

    <delete id="deleteTollTakedrugById" parameterType="Integer">
        delete from toll_takedrug where id = #{id}
    </delete>

</mapper>
