<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hp.mapper.UserRoleMapper">

    <resultMap type="cn.hp.entity.UserRole" id="UserRoleResult">
        <result property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="roleId" column="role_id"/>
        <result property="description" column="description"/>
        <result property="createDatetime" column="create_datetime"/>

    </resultMap>

    <sql id="selectUserRoleVo">
        select * from user_role
    </sql>

    <select id="selectUserRoleList" parameterType="cn.hp.entity.UserRole" resultMap="UserRoleResult">
        <include refid="selectUserRoleVo"/>
        <!-- 根据搜索字段根据模板进行填添加 -->
        <where>
            <if test="uid != null  and uid != ''"> and uid = #{uid}</if>
        </where>
    </select>

    <select id="selectUserRoleById" parameterType="Integer" resultMap="UserRoleResult">
        <include refid="selectUserRoleVo"/>
        where id = #{id}
    </select>

    <insert id="insertUserRole" parameterType="cn.hp.entity.UserRole" useGeneratedKeys="true" keyProperty="id">
        insert into user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="uid != null">uid,</if>
            <if test="roleId != null">role_id,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="createDatetime != null">create_datetime,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="uid != null">#{uid},</if>
            <if test="roleId != null">#{roleId},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="createDatetime != null">#{createDatetime},</if>
        </trim>
    </insert>

    <update id="updateUserRole" parameterType="cn.hp.entity.UserRole">
       <!-- 根据表字段进行自己添加 -->

       update user_role
         <trim prefix="SET" suffixOverrides=",">
            <if test="id != null ">id=#{id},</if>
            <if test="uid != null ">uid=#{uid},</if>
            <if test="roleId != null ">role_id=#{roleId},</if>
            <if test="description != null and description != ''">description=#{description},</if>
            <if test="createDatetime != null ">create_datetime=#{createDatetime},</if>

        </trim>
       where id = #{id}
    </update>

    <delete id="deleteUserRoleById" parameterType="Integer">
        delete from user_role where id = #{id}
    </delete>
    <delete id="deleteUserRoleByUid" parameterType="Integer">
        delete from user_role where uid = #{uid}
    </delete>

</mapper>
